<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Todo list</h1>

  <ul>
  	<% @todos.each do |todo| %>
    	<li><%= Order canapes %></li>
    	<li><% Confirm event details with attendees %></li>
    	<li><%= Book band %></li>
    <% end %>
  </ul>

</body>
</html>